@inject NavigationManager NavigationManager

<span class="text-button-wrapper">
    <RadzenButton Variant="Variant.Text" Text="@Text" Click="@HandleClick" ButtonStyle="ButtonStyle.Primary" />
</span>

@code {
    [Parameter]
    public string Text { get; set; } = string.Empty;
    [Parameter]
    public string Path { get; set; } = string.Empty;

    [Parameter]
    public EventCallback OnClick { get; set; }

    private async Task HandleClick()
    {
        if (!string.IsNullOrEmpty(Path))
        {
            NavigationManager.NavigateTo(Path, forceLoad: true);
        }
        else
        {
            await OnClick.InvokeAsync();
        }
    }
}
